/* CSS Document */

body {

max-width: 800px;

margin: 1px auto;

padding: 7px; 

font-family: Arial, sans-serif;

background: #f5f5f5;

}

.bottom { 
padding-top: 6px;
padding-bottom: 6px;

 border-bottom: 1px solid #ededed;
}

 /* 

Body tags 

*/

.all {  border-radius: 25px 25px 25px 25px; color: #ffffff; border: 1px solid #4fb7c0; background-color:#fff; padding-bottom: 0px; margin-bottom: 5px; }

.title {border-radius: 25px 25px 0px 0px;font-size: 1.3em; background-color:#4fb7c0; padding:4px; }

.text { padding: 4px;

color:  #000000;

}

.ass { 

padding:4px;background-color:#ededed;
border-radius: 0px 0px 25px 25px;
color: #515151;

}



.heading {

padding:4px;background-color:#ededed;
color: #243988;
/*  color: #CC9119; */

}

 span { 

font-weight: bold;

color: #243988;

}

/* Head Tags */

h1, h2, h3 { 

font-family:Sans-Serif;

font-weight: bold;

}

h1 {

font-size: 2.2em;

color: #ffffff;

}

h2 {

font-size: .7em;

color: #fff; 

}

h3 {

font-size: 1.4em;

}



p {

font-size: 1.1em;

 

}
