/* CSS Document */

body {

max-width: 800px;

margin: 1px auto;

padding: 8px; 

font-family: Arial, sans-serif;

background: #ffffff;

}

.bottom { 
padding-top: 6px;
padding-bottom: 6px;

 border-bottom: 1px solid #dddddd;
}

 /* 

Body tags 

*/

.all {  border-radius: 25px 25px 25px 25px; color: #ffffff; border: 1px solid #dddddd; background-color:#fff; padding-bottom: 0px; margin-bottom: 5px; }

.title {color:#ffffff; border-radius: 25px 25px 0px 0px;font-size: 1.3em; background-color:#e7f1fb; padding:4px; }

.text { padding:8px;

color: #515151;

}

.ass2 { 

padding:10px;
border-radius: 25px 25px 0px 0px;
color: #515151;

}


.ass { 

padding:4px;background-color:#dddddd;
border-radius: 0px 0px 25px 25px;
color: #515151;

}

.heading2 {

padding:4px;
color: #515151;
/*  color: #CC9119; */

}

.heading {

padding:4px;background-color:#ededed;
color: #cc9119;
/*  color: #CC9119; */

}

 span { 

font-weight: bold;

color: #243988;

}

/* Head Tags */

h1, h2, h3 { 

font-family:Sans-Serif;

font-weight: bold;

}

h1 {

font-size: 2.2em;

color: #ffffff;

}

h2 {

font-size: .7em;

color: #fff; 

}

h3 {

font-size: 1.4em;

}



p {

font-size: 1.1em;

}
