body {
  max-width: 800px;
  margin: 1px auto;
  padding: 6px; 
  font-family:Sans-Serif;
 background-color: #ffffff;
}

.border-all {
  border: 2px solid #dddddd;
}

.heading { 
   padding-left: 10px;
   padding-top:4px;
   padding-bottom:4px;
   background-color:#dddddd;
}


.plan-detail-box {
 background-color: #ffffff;
 border-radius: 25px 25px 25px 25px;
 border: 3px solid #bfdfff;
 padding-bottom: 0px;
 margin:10px;
 }

.plan-title {
 font-size: 18px;
 font-weight: bold;
 border-radius: 22px 22px 0px 0px;
 background-color: #e6f0fa;
  padding-left:16px;
 padding-top:10px;
 padding-bottom:10px;
 }

.plan-text {
 font-size: 18px;
     padding-top:4px;
     padding-left:10px;
     padding-right:10px;
     padding-bottom:4px;
     color: #515151;
}

.plan-validity { 
 font-size: 18px;
 font-weight: normal;
 border-radius: 0px 0px 22px 22px;
 background-color: #e6f0fa;
 padding-top:10px;
 padding-bottom:10px;
}

span { 
font-weight: bold;
color: #243988;
}

/* Head Tags */
h1, h2, h3 { 
font-weight: bold;
}

h1 {
font-size: 2.2em;
color: #243988;
}

h2 {
font-size: 1.1em;
color: #243988;
}

h3 {
font-size: 1.3em;
color: #243988;
}
