/* CSS Document */

body {

max-width: 800px;

margin: 1px auto;

padding: 8px; 

font-family: Arial;

background: #ffffff;

}

.bottom { 
padding-top: 6px;
padding-bottom: 6px;

 border-bottom: 1px solid #ededed;
}

 /* 

Body tags 

*/

.all {  border-radius: 25px 25px 25px 25px; color: #ffffff; border: 3px solid #dddddd; background-color:#ffffff; padding-bottom: 0px; margin-bottom: 8px; }

.title {border-radius: 25px 25px 0px 0px; background-color:#ffffff; color:#000000; padding-left:16px; padding-top:16px; padding-bottom:8px; font-size: 1.2em;}

.text { padding-left:12px;
padding-right:10px;
padding-bottom:4px;
color: #515151;
font-size: 1.1em;
}

.ass2 { 

padding:10px;
border-radius: 25px 25px 0px 0px;
color: #515151;

}
.new {
color:red;
padding-right:20px;
padding-bottom:2px;
}

.v { 
padding-top:4px;
padding-bottom:4px;
  background-color:#dddddd;
border-radius: 0px 0px 20px 20px;
color: #515151;

}

.heading2 {

padding:4px;
color: #515151;
/*  color: #CC9119; */

}

.heading {

padding:4px;background-color:#ededed;
color: #cc9119;
/*  color: #CC9119; */

}

 span { 

font-weight: bold;

color: #243988;

}

/* Head Tags */

h1, h2, h3 { 

font-family:Sans-Serif;

font-weight: bold;

}

h1 {

font-size: 2.2em;

color: #ffffff;

}

h2 {

font-size: .7em;

color: #fff; 

}

h3 {

font-size: 1.4em;

}



p {

font-size: 1.1em;

 

}

.lefttext {
color: #000000;
}

.righttext {
color: #000000;
}
