body {
max-width: 800px;
margin: 1px auto;
padding: 10px; 
background: #ffffff;
}

.border-all {
     border: 1px solid #dddddd;
     background-color:#ffffff;
    margin:4px;
}


.all {  border-radius: 25px 25px 25px 25px; color: #ffffff; border: 3px solid #dddddd; background-color:#ffffff; padding-bottom: 0px; margin-bottom:10px; }

.title {border-radius: 25px 25px 0px 0px; background-color:#ffffff; color:#000000; padding-left:16px; padding-top:16px; padding-bottom:8px; font-size: 1.2em;}

.text {
     padding-left:10px;
     padding-right:10px;
     padding-bottom:4px;
     color: #515151;
}

.validity { 
padding-top:4px;
padding-bottom:4px;
background-color:#dddddd;
border-radius: 0px 0px 20px 20px;
color: #000000;
}

span { 
font-weight: bold;
color: #243988;
}

/* Head Tags */

h1, h2, h3 { 
font-family:Sans-Serif;
font-weight: bold;
}

h1 {
font-size: 2.2em;
color: #243988;
}

h2 {
font-size: 1.0em;
color: #243988;
}

h3 {
font-size: 1.3em;
color: #243988;
}
